{% extends 'base.html'%}

{% block content %}
        <img class="img" src="{{doctor_detail.avatar.url}}" width="110" height="110" alt="">
        <h4>{{doctor_detail.first_name}}</h4>
         <h4>{{doctor_detail.second_name}}</h4>
          <img class="img" src="{{doctor_detail.diploma.url}}" width="110" height="110" alt="">
          <h4>{{doctor_detail.profession.get_name_display}}</h4>
          <p>{{doctor_detail.bio}}</p>
        <p>{{doctor_detail.date_of_registration}}</p>
        <p> reviews for this doc</p>
        {% for review in doctor_detail.review_set.all %}
            <div class="media py-5">
                <div class="media-body mt-4">
                    Author: {{ review.user.email }}
                    <h5 class="mt-0 editContent">
                      Title:  {{ review.title }}
                    </h5>
                    <p class="mt-2 editContent">
                      Comment: <br>  {{ review.text }}
                    </p>
                </div>
            </div>
        {%  endfor %}
        <span class="sub-tittle editContent">{{ doctor_detail.reviews_set.count }}</span>
        <form action="{% url 'add_review' doctor_detail.id %}" method="post" class="mt-4"
                          id="formReview">
                        {% csrf_token %}
                         <label for="title">Title: </label>
                         <input id="title" type="text" name="title" value="{{ form.title }}">
                        <label for="text">Text: </label>
                         <input id="text" type="text" name="text" value="{{ form.text }}">
                        <button type="submit"
                                class="mt-3 btn btn-success btn-block py-3">
                            Отправить
                        </button>
                    </form>
{% endblock %}

