{% extends 'base.html'%}

{% block content %}
      <div class="album py-5 bg-light">
        <div class="container">
            {% for doctor in doctor_list%}
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <p><img class="img-circle" src="{{doctor.avatar.url}}"  width="110" height="110"  alt="Doc photo"></p>
                <div class="card-body">
                  <h2><a href="{% url 'doctor_detail' doctor.pk %}"> {{ doctor.first_name }}</a></h2>
                     <br>{{doctor.second_name}}</br>
                     <br>{{doctor.profession.name}}</br>
              </div>
                {%endfor%}
            </div>
          </div>
          </div>
                    </div>
{% endblock%}
